

<div>
    <img [src]="url" class="img-fluid" width="100%" alt="">
</div>

<section class="page-section about-border text-white mb-0" id="about">
    <div class="container bg-about">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white m-top">About Me</h2><br>
        <!-- Icon Divider-->
        <!-- <div class="divider-custom divider-dark">
            
            <div class="divider-custom-line"></div>
            
        </div> -->
        <!-- About Section Content-->
        <div class="row">
            <div class=""><p class="lead">Web developers work independently as freelancers or with company teams to create websites. Depending on the job, these professionals may focus on front-end development, which involves designing sites and producing content, or back-end development, which involves writing code to make website features work. Web developers may also become webmasters for a site, providing maintenance, updates, and troubleshooting when needed.Prospective web developers can use the following information to choose a career path and understand the required steps for that career, such as completing education and understanding potential web developer roles and contexts. Read on to learn about the daily tasks and skills of a web developer, available career resources, and salary information.</p></div>
            
        </div>
        <!-- About Section Button-->
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="#">
                KNOW MORE !!!
            </a>
        </div>
    </div>
</section>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <!-- <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol> -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container-testimony">
            <h3 class="text-uppercase">Lorem ipsum</h3>
            <p><i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas labore ducimus commodi,<br> velit vero sed repellendus sapiente eos atque veritatis nostrum recusandae dolorum, officia repellat ab impedit quis dicta eaque.<br><br><b>-lorem (2021-2022)</b></i></p>
            
        </div>
      </div>
      <div class="carousel-item">
        <div class="container-testimony">
            <h3 class="text-uppercase">Lorem ipsum</h3>
            <p><i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas labore ducimus commodi,<br> velit vero sed repellendus sapiente eos atque veritatis nostrum recusandae dolorum, officia repellat ab impedit quis dicta eaque.<br><br><b>-lorem (2021-2022)</b></i></p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container-testimony">
            <h3 class="text-uppercase">Lorem ipsum</h3>
            <p><i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas labore ducimus commodi,<br> velit vero sed repellendus sapiente eos atque veritatis nostrum recusandae dolorum, officia repellat ab impedit quis dicta eaque.<br><br><b>-lorem (2021-2022)</b></i></p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

