  <!-- Portfolio Section-->
  <section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h4 class="page-section-heading text-center text-Capitalize text-secondary mb-5">Areas of Interest</h4>
        <!-- Icon Divider-->
       
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <!-- Portfolio Item 1-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><br>
                            <h2>Web Designing</h2>
                            <P>Web designing is the creation of websites and pages to reflect a company's brand and information and ensure a user-friendly experience.</P>
                        </div>
                    </div>
                    <img class="img-fluid" [src]="url" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 2-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><br>
                            <h2>Web Development</h2>
                            <P>CSS stands for Cascading Style Sheets · CSS describes how HTML elements are to be displayed on screen, paper, or in other media </P>
                        </div>
                    </div>
                    <img class="img-fluid" [src]="url1" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 3-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><br>
                            <h2>Web Analysis</h2>
                            <P>Applies analysis and design techniques to complex computer systems. Position will typically support a broad functional area such as the PCC web portal and various web applications.</P>
                        </div>
                    </div>
                    <img class="img-fluid" [src]="url2" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 4-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><br>
                            <h2>Digital Marketing</h2>
                            <P>Digital marketing, also known as online marketing and connect potential customers using the internet and other forms of digital communication </P>
                        </div>
                    </div>
                    <img class="img-fluid" [src]="url3" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 5-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><br>
                            <h2>Content Creation</h2>
                            <P>Content creation is the process of generating topic ideas that appeal to your buyer persona, creating written or visual content around those ideas.</P>
                        </div>
                    </div>
                    <img class="img-fluid" [src]="url4" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 6-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><br>
                            <h2>Graphic Designing</h2>
                            <P>Graphic Designers use elements such as shapes, colors, typography, images and more to convey ideas to an audience.</P>
                        </div>
                    </div>
                    <img class="img-fluid" [src]="url5" alt="..." />
                </div>
            </div>
        </div>
    </div>
</section>
