<!-- <div class="section1">
    <div class="row">
        <div class="col-md-9 col-wrap">
            <img class="img-fluid img-rounded" [src] = 'url'>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div> -->

<!-- Masthead-->
<div class="bg-nav">
<header class="masthead text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" [src]="url" alt="..." />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase text-dark mb-0 animate__animated animate__slideInLeft animate__slow">ARYA KRISHNA K</h1>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading text-dark font-weight-light mb-3 animate__animated animate__slideInRight animate__slow">Web Developer - Content Creator - Designer</p>
    </div>
    <a routerLink = "/contact"><button class="home-btn btn btn-danger animate__animated animate__slideInUp animate__slow"><b>HIRE ME</b></button></a>
</header>
</div>


<!-- <app-section1></app-section1> -->
<!-- <app-progress></app-progress> -->
